#powerdiv{
	text-align: center;
	margin-top:30px;
	position: relative;
}
#power{
	width:100%;
}
#powerdiv b{
	position: absolute;
	font-style: normal;
	color:rgb(112,108,107);
	font-size: 12px;
}
#powernum{
	top:24%;
}
#name{
	top:29.1%;
}
#wx{
	top:33.64%;
}
#type{
	top:38.26%;
	left:32.3%;
}
#level{
	top:47.3%;
	left:30.3%;
}
#agstartyear{
	top:52.2%;
	left:26.4%;
}
#agstartmonth{
	top:52.2%;
	left:39.5%;
}
#agstartday{
	top:52.2%;
	left:47.3%;
}
#agendyear{
	top:52.2%;
	left:56.3%;
}
#agendmonth{
	top:52.2%;
	left:67.5%;
}
#agendday{
	top:52.2%;
	left:75.5%;
}
@media screen and (min-width:320px){
	#powerdiv b{
		font-size:12px;
	}
}
@media screen and (min-width:360px){
	#powerdiv b{
		font-size:13px;
	}
}
@media screen and (min-width:375px){
	#powerdiv b{
		font-size:14px;
	}
}
@media screen and (min-width:384px){
	#powerdiv b{
		font-size:15px;
	}
}
@media screen and (min-width:400px){
	#powerdiv b{
		font-size:16px;
	}
}
@media screen and (min-width:414px){
	#powerdiv b{
		font-size:17px;
	}
}
@media screen and (min-width:424px){
	#powerdiv b{
		font-size:18px;
	}
}
@media screen and (min-width:480px){
	#powerdiv b{
		font-size:19px;
	}
}
@media screen and (min-width:540px){
	#powerdiv b{
		font-size:20px;
	}
}
@media screen and (min-width:720px){
	#powerdiv b{
		font-size:21px;
	}
}
@media screen and (min-width:750px){
	#powerdiv b{
		font-size:22px;
	}
}
